# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install
        run: curl -fsSL https://raw.githubusercontent.com/vankesteren/adm/HEAD/install.sh | sudo sh
      - name: Test
        run: curl -fsSL https://raw.githubusercontent.com/vankesteren/adm/HEAD/test.sh | sudo sh
